<launch>
	<rosparam param="use_sim_time">true </rosparam>
	
  <arg name="path"     default="$(env HOME)/Proyectos/ROS" />
  
  <arg name="bag_name" default="/bags/ccny/ccny_3rooms.bag" />
  <arg name="bag_start"  default="0.0" />
  
  <arg name="publish_cloud"  default="true" />
  
  <arg name="map_name" default="/maps/3D/CCNY 3 Rooms/Octomap/ccny_3rooms_octomap_5cm.bt" />
  

	<!-- <node pkg="rosbag" type="play" name="rosbag1" -->
	<!-- args="-d 4 -s 4.65 -r 0.5 - -topics /tf - -bags /host/Users/Robotics\ 
		Lab/Downloads/rgbd_dataset_freiburg1_360.bag"> -->
	<!-- </node> -->

	<!-- <node pkg="rosbag" type="play" name="rosbag2" -->
	<!-- args="- -clock -d 0 -s 0 -r 0.5 - -topics /tf /camera/depth/points 
		- -bags /host/Users/Robotics\ Lab/Downloads/rgbd_dataset_freiburg1_xyz-2hz-with-pointclouds.bag"> -->
	<!-- <remap from="/camera/depth/points" to="/point_cloud" /> -->
	<!-- </node> -->

	<!-- <node pkg="tf" type="static_transform_publisher" name="nav_world_broadcaster" -->
	<!-- args="0 0 0 0 0 0 /nav /world 100" /> -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="world_kinect_broadcaster" -->
	<!-- args="0 0 1 0 0 0 /world /kinect 100" /> -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="kinect_openni_broadcaster" -->
	<!-- args="0 0 0 0 0 0 /kinect /openni_rgb_optical_frame 100" /> -->
<!-- 	<node pkg="tf" type="static_transform_publisher" name="kinect_base_link_broadcaster" -->
<!-- 		args="0 0 -1.4 0 0 0 /camera_link /base_footprint 100" /> -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="nav_base_link_broadcaster" -->
	<!-- args="0 0 0 0 0 0 /map /world 100" /> -->


	<node pkg="6d_localization" type="localization_node" name="humanoid_localization"
		output="screen">
<!-- 		<remap from="/point_cloud" to="/camera/depth_registered/points" /> -->
		<remap from="/point_cloud" to="/feature/cloud" />
		<remap from="/scan" to="/scan_OFF" />
		<rosparam
			file="$(find 6d_localization)/config/quadrotor_localization_ccny.yaml"
			command="load" />
	</node>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node"
		output="screen"
 	  args="'$(arg path)$(arg map_name)'">
		<!-- <remap from="/cloud_in" to="/camera/deth_registered/points" /> -->
	<!-- args="$(find sbpl_dynamic_env_global_planner_3D)/config/freiburg1_360.bt" 
		/> -->
	</node>
	
	
	<!-- <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node" -->
	<!-- output="screen" -->
	<!-- args="$(find sbpl_dynamic_env_global_planner_3D)/config/wg_room_1.bt"/> -->


	<node pkg="rviz" type="rviz" name="rviz"
		args="-d $(find 6d_localization)/config/quadrotor_localization_vis_play.vcg" />
		
	<include file="$(find ccny_openni_launch)/launch/openni_play.launch">
		<arg name="bag_name" value="'$(arg path)$(arg bag_name)'" />
		<arg name="bag_start" value="$(arg bag_start)"/>
		<arg name="publish_cloud" value="$(arg publish_cloud)"/>
		<!-- <arg name="bag_name" value="apt_01_qvga.bag" / -->
		<!-- arg name="camera" value="vrep" / -->
	</include>

	<include file="$(find ccny_rgbd)/launch/visual_odometry.launch">
		<!-- <arg name="reg_type" value="ICP" / -->
	</include>

</launch>
